<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Lab - Wordcount Details</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">    
    <link href="../static/bootstrap-lightbox/bootstrap-lightbox.min.css" rel="stylesheet" media="screen">
    <link href="../static/content/site.css" rel="stylesheet" media="screen">
    
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <h1 class="navbar-brand"><a href="/">Flask Lab</a> || </h1>
                <div id="navMenu">
                    <a href="/">Home</a> | <a href="wordcount">Counting words</a> | <a href="image">Image Upload</a> | <a href="gallery">Image Gallery</a> | <a href="users">Users</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
      <div class="row">
          <div class="col-sm-7">
            <h1></h1>
            {% if sorted_json_results %}
                <h2>Frequencies</h2>
                <br>
                <div id="results">
                  <table class="table table-striped" style="max-width: 300px;">
                      <tr>
                        <td>
                          <span id="sortedJson">{{ sorted_json_results }}</span>                          
                        </td>
                      </tr>
                    
                  </table>
                </div>
              {% endif %}
          </div>
      </div>
       <hr />
       <footer>
            <p>&copy; {{ year }} - My Flask Application by JEE SOO KIM</p>
       </footer>
    </div>
      
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    <script src="../static/scripts/respond.js"></script>
    <script src="../static/scripts/modernizr-2.6.2.js"></script>    
    
</body>
</html>